<script type="text/javascript">
  $('#toolbar-div').hide();
</script>
<h4> Hi there!!  Welcome to your expense tracking tool. </h4>      <br/>
<p class="align-left">Using this tool you can manage your day-to-day expenses efficiently. <br/>
  <br/>
  <u>Following features are supported by this tool</u>: <br/>
  <ul class="align-left">
    <li><b>Recording new expenses</b> - Add all the expenses you've made into the tool.</li>
    <li><b>Manage your recorded expenses</b> - You can update an expense to adjust the amount/date/comment,
      or delete it completely if you don't want it there.</li>
    <li><b>Ability to record expenses for a future date</b> - You can record your bills/expenses
      in advance to see how good or bad your finances are looking.</li>
    <li><b>Name your own expense types</b> - You can use your favourite names/tags to categorize your expenses.</li>
    <li><b>Manage your expense types</b> - You have the ability to update or delete an expense type anytime you wish.</li>
  </ul>
  <br/><br/>
  <%= link_to 'Why wait?? Lets get started with managing you expenses right now. Click me!!', 'static_home', :class => 'btn btn-primary' %>

</p>
