// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Import bootstrap
@import "bootstrap";

// Custom CSS tags
body {
  background-color: #f2f2f2;
}

textarea  {
  height: 150px;
}

table {
  table-layout: fixed;
  width: 100%
}

td {
  word-wrap: break-word;
}

div {
  margin: 0 auto;
}

.base-box {
  max-width: 480px;
  padding: 20px;
  text-align: center;
}
